- @module = :content
= render 'share/admin/sidebar'

.block.span19.pull-left{:style => 'height:200px;margin-left:45px;'}
  - if flash[:notice]
    .alert.alert-success.alert-block{:style => ''}
      %button.close{"data-dismiss" => "alert", :type => "button"} &times;
      = flash[:notice]

  .navbar{:style => 'margin:0px;'}
    .navbar-inner{:style => 'line-height:30px;'}
      标签管理

  .clearfix.span20{:style => 'height:20px;'}


  .b{:style => 'padding:10px;margin:0px -1px;height:700px;border-top:none;border:1px solid #eee;'}

    %table.table.table-bordered.table-striped
      %tr
        %th 名称
        %th{:style => 'width:40px;'} 排序
        %th{:style => 'width:140px;'}
    
      - @tags.each do |tag|
        %tr
          %td= tag.name
          %td= tag.sort
          %td 
            = link_to '展示', tag, :class => 'btn btn-mini'
            \|
            = link_to '修改', edit_tag_path(tag), :class => 'btn btn-mini btn-primary'
            \|
            = link_to '删除', tag, :method => :delete, :data => { :confirm => '你确定吗?' }, :class => 'btn btn-mini btn-danger'

    %a.btn.btn-mini.btn-success.pull-right{:href => new_tag_path} 新增标签


  .pull-right= will_paginate @tags, :renderer => BootstrapPagination::Rails
