- @module = :content
= render 'share/admin/sidebar'

.block.span19.pull-left{:style => 'height:200px;margin-left:45px;'}
  - if flash[:notice]
    .alert.alert-success.alert-block{:style => ''}
      %button.close{"data-dismiss" => "alert", :type => "button"} &times;
      = flash[:notice]

  .navbar{:style => 'margin:0px;'}
    .navbar-inner{:style => 'line-height:30px;'}
      标签管理

  .clearfix.span20{:style => 'height:20px;'}


  .b{:style => 'padding:10px;padding-bottom:50px;margin:0px -1px;border-top:none;border:1px solid #eee;'}

    %a.btn.btn-mini.search_toggle{:href => 'javascript:void(0)'} 搜索
    .clearfix{:style => 'height:10px;'}
    .search.hide{:style => 'border:1px solid #eee;padding:20px 5px 10px 5px;'}
      = search_form_for @q, :builder => SimpleForm::FormBuilder, :html => {:class => 'form-horizontal'}, :url => tags_path do |f|
        = f.input:name_cont, :label => '标题包含'
        .form-actions
          = f.submit :class => 'btn btn-success btn-mini', :value => '查找'
          %a.btn.btn-mini{:href => tags_path} 重置
    %br/

    %table.table.table-bordered.table-striped
      %tr
        %th 名称
        %th{:style => 'width:80px;'} 游戏数量
        %th{:style => 'width:40px;'}= sort_link(@q, :sort, '排序')
        %th{:style => 'width:140px;'}
    
      - @tags.each do |tag|
        %tr
          %td= tag.name
          %td= tag.items.size
          %td= tag.sort
          %td 
            = link_to '展示', tag, :class => 'btn btn-mini'
            \|
            = link_to '修改', edit_tag_path(tag), :class => 'btn btn-mini btn-primary'
            \|
            = link_to '删除', tag, :method => :delete, :data => { :confirm => '你确定吗?' }, :class => 'btn btn-mini btn-danger'

    %a.btn.btn-mini.btn-success.pull-right{:href => new_tag_path} 新增标签


  .pull-right= will_paginate @tags, :renderer => BootstrapPagination::Rails
