.page-header
  %h4 <%= plural_table_name %>列表

%table.table.table-bordered.table-striped
  %tr
<% for attribute in attributes -%>
    %th <%= attribute.human_name %>
<% end -%>
    %th

  - @<%= plural_table_name %>.each do |<%= singular_table_name %>|
    %tr
<% for attribute in attributes -%>
      %td= <%= singular_table_name %>.<%= attribute.name %>
<% end -%>
      %td 
        = link_to '展示', <%= singular_table_name %>, :class => 'btn btn-mini'
        \|
        = link_to '修改', edit_<%= singular_table_name %>_path(<%= singular_table_name %>), :class => 'btn btn-mini btn-primary'
        \|
        = link_to '删除', <%= singular_table_name %>, :method => :delete, :data => { :confirm => '你确定吗?' }, :class => 'btn btn-mini btn-danger'

%br

= link_to '新增 <%= human_name %>', new_<%= singular_table_name %>_path, :class => 'btn btn-mini btn-success'
