- @module = :content
= render 'share/admin/sidebar'

.block.span19.pull-left{:style => 'height:200px;margin-left:45px;'}
  - if flash[:notice]
    .alert.alert-success.alert-block{:style => ''}
      %button.close{"data-dismiss" => "alert", :type => "button"} &times;
      = flash[:notice]

  .navbar{:style => 'margin:0px;'}
    .navbar-inner{:style => 'line-height:30px;'}
      分类管理

  .clearfix.span20{:style => 'height:20px;'}


  .b{:style => 'padding:10px;padding-bottom:50px;margin:0px -1px;border-top:none;border:1px solid #eee;'}

    %table.table.table-bordered.table-striped
      %tr
        %th 中文名
        %th{:style => 'width:80px;'} 英文名
        %th{:style => 'width:40px;'} 排序
        %th{:style => 'width:140px;'}
    
      - @categories.each do |category|
        %tr
          %td= category.name
          %td= category.ename
          %td= category.sort
          %td 
            = link_to '展示', category, :class => 'btn btn-mini'
            \|
            = link_to '修改', edit_category_path(category), :class => 'btn btn-mini btn-primary'
            \|
            = link_to '删除', category, :method => :delete, :data => { :confirm => '你确定吗?' }, :class => 'btn btn-mini btn-danger'

    %a.btn.btn-mini.btn-success.pull-right{:href => new_category_path} 新增分类    

  .pull-right= will_paginate @categories, :renderer => BootstrapPagination::Rails
