.page-header
  展示分类

%p#notice= notice

%p
  %b 中文名:
  = @category.name
%p
  %b 英文名:
  = @category.ename
%p
  %b 排序:
  = @category.sort

= link_to '修改', edit_category_path(@category), :class => 'btn btn-mini btn-primary'
\|
= link_to '返回', categories_path, :class => 'btn btn-mini'
